<%- include('layoutLoggedIn.ejs'); %>
<% let job_id = newId %>
<div class="col-md-6 offset-md-3 card mt-5">
    <form method="post" action="/apply-job"  enctype="multipart/form-data">
        <div class="form-group mt-5">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Your Full Name" value="<%= user.name %>" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"  value="<%= user.email %>" readonly>
          </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number" required>
        </div>
        <div class="form-group">
          <label for="portfolio">Portfolio/LinkedIn Url</label>
          <input type="text" class="form-control" id="portfolio" name="portfolio" placeholder="Your Portfolio or LinkedIn or Github Url" required>
        </div>
        <div class="form-group">
            <label for="resume" class="form-label">Resume:</label>
            <input type="file" class=" form-control form-control-file" id="resume" name="resume" placeholder="Attach your resume here" required>
        </div>
        <div class="form-group">
          <label for="job-requirements">Additional Information</label>
          <textarea class="form-control" id="additionalInfo" rows="5" name="additionalInfo" placeholder="Any additional info or Cover Letter"></textarea>
        </div>
        <div class="form-group" style="display: none;">
            <input type="text" class="form-control" id="jobId" name="jobId" value=<%= job_id %> >
            <span><%= job_id %></span>
        </div>
        <button type="submit" class="btn btn-primary loginButton">Submit</button>
      </form>
      <div class="mt-3"></div>

    </div>
    <div class="mt-5"></div>
    <div class="mt-5"></div>

</body>
</html>