<%- include('layoutLoggedIn.ejs'); %>
<div class="container">
    <h3 class="mt-3">Job Applications</h3>
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Portfolio/LinkedIn</th>
          <th>Resume</th>
        </tr>
      </thead>
      <tbody>
        <% applications.forEach(application => { %>
          <tr>
            <td><%= application.name %></td>
            <td><%= application.email %></td>
            <td><%= application.phone %></td>
            <td><a href="<%= application.portfolio %>" target="_blank">Click here</a></td>
            <td><a href="/<%= application.resumePath %>" target="_blank">View Resume</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>