<%- include('layoutLoggedIn.ejs'); %>
<script>
    function editJob() {
        alert(id);
        window.location.href = '/editJob?id=' + id;
      }
</script>
<div class="container">
    <div class="mt-4"><h2>My Applications</h1></div>
    <div class="row mt-5">
        <% if (applications.length > 0) { %>
      <% applications.forEach(application => { %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm-3">
            <div class="card-body">
              <h5 class="card-title"><%= application.jobTitle %></h5>
              
              <div class="row">
                <div class="col-12">
                  <p class="card-text"><%= application.jobCompany %></p>
                </div>
                <div class="col-12">
                  <p class="card-text mt-2"><%= application.jobLocation %></p>
                </div>
              </div>
                <p class="card-text">Applied on: <%= application.appliedOn.toDateString() %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary" onclick="window.location.href = '/view-job?id=<%= application.jobId %>';">View Job</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
      <% } %>
    </div>
  </div>
  <script>
    function deleteJob(id) {
        const response = confirm("Are you sure you want to delete the selected job?");
        if (response) {
            window.location.href = '/deleteJob?id='+id;
        } 
    }
  </script>


 
</body>

</html>